
<!doctype html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<table class="table table-bordered">
<thead>
<tr >
  <th  scope="row">Vorto</th>
  <th>Difino</th>
  <th>Forigi</th>
</tr>
</thead>
<tbody>
{{#vortoj}}
<tr>
  <td  scope="row">{{word}}</td>
  <td>{{definition}}</td>
  <td>


<form method="POST" action="/{{id}}?_method=DELETE">
  <button>FORIGU</button>
</form>


  </td>
</tr>

{{/vortoj}}
</tbody>
</table>

  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>

  </body>
</html>

