<!doctype html>

<html>

<head>
    <title>Ĉefpaĝo</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Legejo</a>
            </div>
            <ul class="nav nav-pills">
                <li class="active"><a href="/" title="homepage">Ĉefpaĝo</a>
                </li>
                <li><a href="/wiki/template" title="article">Artikolo</a>
                </li>
                {{#logged_in}}
                <li><a title="words" href="/words/{{id}}">Vortoj</a>
                </li>
                {{/logged_in}}
                <ul class="nav navbar-nav navbar-right">
                    {{#logged_in}}
                    <li class="active"><a href="/logout" title="logout">Elsaluti</a>
                    </li>
                    {{/logged_in}}
                    {{^logged_in}}
                    <li><a href="/login" title="login">Ensaluti</a>
                    </li>
                    {{/logged_in}}

                </ul>
            </ul>
        </div>
    </nav>



    <div class="border-container">
        <div class="col-lg-6 center-block">
            <div class="alert alert-success">
                <h4>Bonvenon {{name}}!</h4>

                <h3>La Nuna Artikolo:
      <a href="/wiki/template">Legu</a></h3>
                {{#logged_in}}
                <h1>Agordoj</h1>
                <p>Averto: La ĝisdatigo de la jeno elsalutos vin!</p>
                <form method="POST" action="/update/{{id}}?_method=PUT">
                    Nova Nomo:
                    <input name="name" id="name" value="{{name}}">
                    <br> Nova Retpoŝto
                    <input name="email" id="email" value="{{email}}">
                    <br>
                    <button type="submit">ĝisdatigu</button>
                </form>
                {{/logged_in}}
            </div>



        </div>
    </div>
    </div>




    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>
