

<!doctype html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>


     <div class="border-container">
       {{#logged_in}}
       <div class="col-lg-6 center-block">
         <div class="alert alert-dismissible alert-warning">
           <h4>Bonvenon {{name}}!</h4>

                  <h3>La Nuna Artikolo:
      <a href="/wiki/template">Legu</a></h3>

                        <h3>Via Listo:
      <a href="/words/{{id}}">Vortoj</a></h3>

         </div>
         <a href="/logout">Logout!</a>
       </div>

       <h1>Agordoj</h1>
<form method="POST" action="/update/{{id}}?_method=PUT">
<input name="name" id="name" value="{{name}}"><br>
<input name="email" id="email" value="{{email}}"><br>
<button type="submit">Save</button>
</form>


       {{/logged_in}}
       {{^logged_in}}
       <div class="col-lg-6 center-block">
         <div class="well bs-component">
           <form class="form-horizontal" action="/login" method="post">
             <fieldset>
               <legend>Ensalutejo</legend>
               <div class="form-group">
                 <label for="inputEmail" class="col-lg-2 control-label">Retpoŝto</label>
                 <div class="col-lg-10">
                   <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Retpoŝto">
                 </div>
               </div>
               <div class="form-group">
                 <label for="inputPassword" class="col-lg-2 control-label">Pasvorto</label>
                 <div class="col-lg-10">
                   <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Pasvorto">
                 </div>
               </div>
               <div class="form-group">
                 <div class="col-lg-10 col-lg-offset-2">
                   <button type="submit" class="btn btn-primary">Ensalutu</button>
                 </div>
               </div>
             </fieldset>
           </form>
           <h3>Aliĝu</h3>
<a href="/signup">Aliĝejo</a></h3>
       {{/logged_in}}
     </div>
   </div>


  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>

  </body>
</html>
