td{
  text-align:  center
}
p{
  text-align:  justify;
}
table{
  margin:  0 auto;
}

.heyClowns{
  background-color:  black;
  color:  white;
}

#popUpTemplate{
  display:  none;
  background-color: yellow;
width:  500px;
z-index: 1;

}
