<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css"></head>
<body>
      <div class="main-container">
      <div class="border-container">
        <h1>Aliĝejo</h1>
        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" action="/signup" method="post">
              <fieldset>
                <legend>Aliĝu</legend>
                <div class="form-group">
                  <label for="inputName" class="col-lg-2 control-label">Nomo</label>
                  <div class="col-lg-10">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Nomo">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">Retpoŝto</label>
                  <div class="col-lg-10">
                    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">Pasvorto</label>
                  <div class="col-lg-10">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Aliĝu!</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
