<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{#wikiData}}
  {{#lead}}
   <span class="ten columns  offset-by-one text textHolders" ><h1>{{displaytitle}}</h1></span>
     <span class="ten columns  offset-by-one text textHolders" >{{description}}</span>
     <span class="ten columns  offset-by-one textHolders">{{#sections}}</span>
      <span class="ten columns  offset-by-one textHolders">{{{text}}}</span>
    {{/sections}}
  {{/lead}}
  {{#remaining}}
      {{#sections}}
        <span class="ten columns  offset-by-one textHolders"> {{{text}}}</span>
      {{/sections}}
  {{/remaining}}
{{/wikiData}}
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
